<div class="container content">
  <h3>{{nombre}}</h3>

  <div class="card-body">
    <form 
      [formGroup]="fg"
      (onSubmit)="guardar()" >
      <h3>Thing</h3>
      <div class="form-group">
        <label for="name"></label>
        <input id="item-description" type="text" class="form-control" placeholder="Ingrese nombre..." 
        [formControl]="fg.controls['name']" />
      </div>

      <div class="form-group">
        <label for="url"></label>
        <input id="item-description" type="text" class="form-control" placeholder="Ingrese URL..." 
        [fromControl]="fg.controls['url']" />
      </div>
      <button type="submit" class="btn btn-primary">Agregar</button>
    </form>
  </div>

  <div class="row row-flex">
    <app-detail-thing 
      *ngFor = "let x of listthings"
      [thing] = x>
    </app-detail-thing>
  </div>

</div>